/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
    font-size: 10px;
    --header-bg:#4617fe;
}
.bars{
  display: none;
}
img{
  max-width: 100%;
}
header{
  position: absolute;
  width: 100%;
}
.container{
  max-width: 140rem;
  margin-inline: auto;
  padding:0 1rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.header-logo{
  width: 10rem;
}
.header-nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.header-nav ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
}

.header-nav ul li:last-child{
  color: #ffffff;
  font-size: 1.5rem;
}

section.hero-section{
  background-color: var(--header-bg);
  color: #ffffff;
}

.hero-banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

 .hero-content{
  max-width:70rem
} 
.hero-content h1{
  font-size: 5rem;
}
.hero-content p{
  font-size: 1.5rem;
}
.company{
  background-color: #f8f8fa;
}
.company-name{
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.company-name h2{
  font-weight: 900;
}
h1.api-heading {
  max-width: 20rem;
  font-weight: 900;
}
.api{
  display: grid;
}
.api-service h1{
  text-transform: capitalize;
  max-width: 20rem;
}
.latest-blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.blog-listing{
  display: grid;
}
.admin-name{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.admin-name h3{
  font-weight: 900;
}
.question-section{
  background-color: #e9edff;
  /* padding: 5rem 0; */
}
.question{
  display: grid;
}
.download-email{
  display: flex;
  align-items: center;
}
footer{
  background-color: #4617fe;
  padding: 5rem 0;
}
/* Responsive start*/
@media only screen and (min-width:320px) {
    .header-nav{
      display: none;
    }
    .bars{
      display: block;
      color: #ffffff;
      font-size: 1.5rem;
    }
    .hero-banner{
      flex-direction: column;
    }
    .hero-content{
      align-self: flex-start;
    }
    .hero-content h1{
      font-size: 2.5rem;
    }
    .hero-content p{
      margin: 1rem 0;
      font-size: 1.5rem;
    }
    .hero-image{
      align-self: flex-end;
    }
    .hero-section{
      padding-top: 10rem;
    }
    .company{
      padding: 3rem 0;
    }
    .api-heading{
      margin:3rem 0;
      font-size: 2.5rem;
    }
    .api{
      grid-template-columns: repeat(1,1fr);
      gap: 4rem;
    }
    .api-image{
      max-width: 5rem;
    }
    .api-service h1{
      font-size: 2rem;
      font-weight: 900;
      margin-top: 1rem;

    }
    .api-service p{
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    .api-service{
      padding: 3rem 1rem;
      border-radius: 1rem;
    }
    .api-service.active{
      background-color: #ffffff;
    }
    .last-arrow{
      display: none;
    }

    .blogs{
      padding: 5rem 0;
    }
    .latest-blogs{
      grid-template-columns: repeat(1, 1fr);
      gap:3rem;
    }
    .blogs-heading h2{
      font-size: 1.9rem;
    }
    .all-articles{
      margin-bottom: 2rem;
    }
    .all-articles a{
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: capitalize;
    }
    .blog .blog-image{
      width: 30rem;
    }
    .blog-content span{
      display: inline-block;
      margin-top:1rem;
      font-size: 1.3rem;
      font-weight: 800;
    }
    .blog-content h2{
      margin: 1rem 0;
      font-size: 2rem;
    }
    .blog-content p{
      font-size: 1.3rem;
    }
    .blog-listing{
      grid-template-columns: repeat(1,1fr);
      gap: 3rem;
    }
    .admin-name{
      margin: 1.5rem 0;
    }
    .question{
      grid-template-columns: repeat(1,1fr);
      gap: 5rem;
    }
    .question-image{
      width: 30rem;
      justify-self:end;
    }
    .question-content h1{
      font-size: 2.5rem;
    }
    .question-content p{
      margin: 2rem 0;
      font-size: 1.3rem;
    }
    .question-content{
      font-size: 1.5rem;
    }
    .contact a{
      margin-top: 2rem;
      display: inline-block;
      text-decoration: none;
      background-color: #4617fe;
      color: #ffffff;
      padding:1.5rem 3rem;
      border-radius: 0.3rem;
    }
    .download-email{
     flex-direction: column;
     padding: 3rem 0;
     gap: 5rem;
    }
    .download-content h2{
      font-size: 3rem;
    }
    .download-content h2 span{
      font-weight: 900;
    }
    .email{
      text-align: center;
    }
    .download-content h2{
      text-align: center;
    }
    .email input[type="email"]{
      padding: 2rem 3rem;
      background-color: #e9edff;
      border: none;
      width: 100%;
      border-radius: 10rem;
      align-self: flex-end;
      outline: none;
    }
    .email input[type="submit"]{
      background-color: #5a31fc;
      border: none;
      outline: none;
      color: #ffffff;
      padding: 1.5rem 2rem;
      border-radius: 0.3rem;
      margin: 1rem 0;
      border-radius: 10rem;
    }

    .footer-nav p {
      margin: 1rem 0;
      font-size: 1.5rem;
      color: #ffffff;
  }
  
  .footer-nav ul {
      display: flex;
      justify-content: start;
      flex-direction: row;
      margin: 2rem 0;
      list-style: none;
      gap: 3rem;
  }
  
  .footer-nav ul li a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 3.5rem;
  }
  
  ul.social-media {
      display: flex;
      justify-content: start;
      align-items: self-start;
      list-style: none;
      gap: 3rem;
  }
  
  ul.nav {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 5rem;
      list-style: none;
      margin: 2rem 0;
  }
  
  .nav li a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5rem;
  }
} 

@media only screen and (min-width:768px) {
  .hero-banner{
    flex-direction: row;
  }
  .hero-content{
    align-self: center;
  }
  .api{
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
  }
  h1.api-heading{
    font-size: 3rem;
    margin: 4rem 0;
  }
  .all-articles{
    margin-left: auto;
  }
  .blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .latest-blogs{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 5rem;
  }
  .question{
    grid-template-columns: repeat(2,1fr);
  }
  .question-image {
    width: 35rem;
  }
  .email input{
    align-self: flex-end;
  }
  .email input[type="email"]{
    width: 50rem;
  }
  .email input[type="submit"]{
    position: relative;
    right: 11.5rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    /* justify-content: start; */
    align-items: center;
    gap: 3rem;
  }
  .blogs-heading h2{
    font-size: 2.5rem;
  }
}
@media only screen and (min-width:1024px) {
  .bars{
    display: none;
  }
  .header-nav{
    display: block;
  }
  .hero-image{
    position: relative;
    top: 7rem;
  }
  .hero-section{
    padding-top:5rem;
  }
  .company-name{
    max-width: 50rem;
  }
  .api{
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
  }
  .api-service h1{
    max-width: 10rem;
  }
  .blog-listing{
    grid-template-columns: repeat(2,1fr);
  }
  .question-image {
    width: 50rem;
  }
  .question-content h1{
    font-size: 3.5rem;
  }
  .question-content p{
    font-size: 1.5rem;
  }
  .question-content h3{
    font-size: 2rem;
  }
  .download-email{
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 0;
  }
  .footer-nav p{
    font-size: 1.8rem;
  }
  .footer-nav ul li a{
    font-size: 1.8rem;
  }
  .nav li a{
    font-size: 1.8rem;
  }
}

@media only screen and (min-width:1280px) {
  .hero-content h1{
    font-size: 4rem;
  }
  .hero-content p{
    font-size: 1.9rem;
  }
  .api{
    grid-template-columns: repeat(5,1fr) 8rem;
    gap: 4rem;
  }
  .api-service:last-child{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow{
    background-color: #5a31fc;
    color: #ffffff;
    border-radius: 10rem;
    max-width: 3rem;
    padding: 1rem 2.5rem;
    font-size: 2rem;
  }
  h1.api-heading{
    font-size: 4rem;
    margin: 8rem 0;
  }
}
/* Responsive end */